:root {
  --color-background-black: #222;
  --color-font-white: #fafafa;
  --color-background-h2: #222;
  --color-font-h2: #fafafa;
  --color-background-main: #222;
  --color-background-section-meteo: #fafafa;
  --color-font-meteo: #222;
  --color-border: #bdc3c7;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(to right,#22c1c3,#fdbb2d);
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background-black);
  padding: 2rem;
}
header h1 {
  color: var(--color-font-white);
  text-transform: uppercase;
  text-align: center;
  font-size: 3.2rem;
}
header i {
  color: var(--color-font-white);
  font-size: 4rem;
}
main {
  padding: 2rem;
  height: 100%;
}
main section {
  margin: 2rem auto 0;
}
main > div {
  display: flex;
  flex-wrap: wrap;
}
main div section {
  padding: 2rem;
}
main section h2 {
  text-align: center;
  font-size: 2rem;
}
main > div {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}
main > section > div {
  margin-bottom: 2rem;
}
main section div input {
  max-width: 80%;
  border: 1px solid var(--color-border);
  border-right: none;
  border-radius: 0.4rem 0 0 0.4rem;
  padding: 0.4rem 0.4rem 0.4rem 0.8rem;
}
main section div button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  width: 8rem;
  background-color: #3498db;
  border: 1px solid var(--color-border);
  border-left: none;
  border-radius: 0 0.4rem 0.4rem 0;
}
main section div button:hover {
  transition: 0.2s;
  background-color: #bdc3c7;
}
main section div button:active {
  transition: 0.2s;
  background-color: #222;
}
main section div button i {
  font-size: 1.6rem;
  color: var(--color-font-white);
}
main section:first-child div {
  display: flex;
  justify-content: center;
  padding: 0.8rem;
}
main section p {
  text-align: center;
  font-size: 1.6rem;
}
main div section img {
  height: 8rem;
  width: 8rem;
}
footer {
  background-color: var(--color-background-black);
}
footer p {
  color: var(--color-font-white);
  padding: 2rem;
}

@media (min-width: 600px) {
  main > div {
    max-width: 60%;
    margin: 0 auto;
  }
}
